:root {
    --info: hsl(204, 86%, 53%);
    --link: #dc3545;
    --danger: rgb(241, 70, 104);
    --warning: hsl(44deg, 100%, 77%);
    --success: rgb(76, 230, 145);
    
    --grey-400: #ebebeb;
    --grey-500: #e2e2e2;
    --grey-600: #d5d5d5;
    --black: #1a1a1e;
}