:root {
    --info: hsl(204, 86%, 53%);
    --link: #dc3545;
    --danger: rgb(241, 70, 104);
    --warning: hsl(44deg, 100%, 77%);
    --success: rgb(76, 230, 145);
    
    --grey-300: #f1f1f1;
    --grey-400: #ebebeb;
    --grey-500: #e2e2e2;
    --grey-600: #cecece;

    --black-700: #242427;
    --black-800: #1a1a1e;

    --blue-200: #e7f5f8;
    --blue-300: #d6f8ff;
    --blue-400: #00c0e8;
    --blue-500: #19b5c9;
}

.number {
    background-color: none !important;
    font-size: 0.9rem !important;
    padding: 0rem !important;
    margin-right: 0rem !important;
    height: 1.5rem !important;
    min-width: 1rem !important;
    vertical-align: baseline !important;
}

pre {
    margin-top: 0 !important;
}